<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="Sites" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lists" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>    
    <appSettings>
      <add key="ClientId" value="9207acdc-6588-4706-9c4e-d852554bedbe" />
      <add key="ClientSecret" value="V3d2JfJ13+OWWT/aFPtVetFRauuzrzME0mE29c9S1OU=" />
    </appSettings>
    <Sites>
      <add key="tenant" value="https://testminttulip.sharepoint.com" />
      <add key="siterequests" value="https://testminttulip.sharepoint.com/sites/ReleaseTemplate" />      
    </Sites>
    <Lists>
      <add key="siterequestlistname" value="siterequests" />
      <add key="siterequestlistnewitemsview" value="unprocessedsiterequests" />      
      <add key="siteconfiglistname" value="sitetypes" />
    </Lists>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>